/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.expand {
  width: 100%;
  height: 100%;
}


.grid {
  display: block;
  //flex-direction: row;
  //flex-wrap: wrap;
}

.row {
  display: block;
  margin: 5px;
  background-color: white;
  border: 1px solid black;
}

.m-1 {
  margin: 1rem;
}

@media print {
  app-root > * { display: block; }

  // hide "screen" classes in print mode
  .print {}
  .screen {
    display: none !important;
  }
}
@media screen {
  app-root > * { display: block; }

  // hide "print" classes in screen mode
  .print {
    display: none !important;
  }
  .screen {}
}
